{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
<h1>People</h1>
<div id='people-list'>
    {% for user in users %}
    <div class='user'>
        <a href='{{user.get_absolute_url}}'>
                        {% if user.profile.photo %}
             {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
             <a href="{{user.get_absolute_url}}">
                <img src="{{im.url}}" alt="{{user.get_full_name}}" class='user-detail'>
            </a>
            {% else %}
            <a href="{{user.get_absolute_url}}">
                {% thumbnail 'static/default.jpg' "180x180" crop="100%" as im %}
                <img src="{{im.url}}" alt="{{user.get_full_name}} has no profile picture" class='user-detail'>
            </a>
            {% endif %}
        </a>
        <div class='info'>
            <a href='{{user.get_absolute_url}}' class='title'>
                {{ user.get_full_name }}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
